<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/favicon.png">
  <link href="./static/assets/images/favicon.png" rel="icon">

  <title>Aniket Pandey</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/img2.jpeg')"></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Aniket Pandey</h1>
      <p>Pythonic | Aspiring Data Scientist | ML Enthusiast</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/people/Aniket-Pandey/100016550885005" title="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://linkedin.com/in/aniket-pandey-53ab90166/" title="Linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="mailto:pandey.aniket.2310@gmail.com" title="Gmail">
          <i class="fa fa-envelope"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/aniketpandey23" title="Github">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.twitter.com/me__aniket?s=09" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://instagram.com/me__aniket/" title="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
        
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2><u>About me</u></h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/img1.jpeg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p><br>Hey there! My name is Aniket Pandey, I'm an undergraduate pursuing B.E. in Electronics & Communication from Dayananda Sagar Institutions, Bangalore. Apart from my core subjects, I have keen interest in Coding, Data Analytics, Data Science and Machine Learning.</p>

              <p>I'm a meticulous and tech savvy student. I am highly skilled, competent and have organized, enthusiastic and focused approach towards work. Most importantly, I posses strong technical skills rooted in substantial training as an engineer. I'm self motivated and a good team player.</p>

              <p>Apart from that I'm a hard-working and enthusiastic person who works well with others and takes a lot of pride in completing tasks both on schedule and at an elite level.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Experience</u></h2>
            <div class="work-experience">
              <small class="date">May 2020-June 2020</small>
              <h3 class="h5 date-title">Data Analyst Intern - <a href="http://www.shaaditimes.com/" title="">The Shaadi Times</a></h3>
              

              <p>Data Analysis in two fragments : Pre Corona [2016 to 2020] from Data available at different
                 sources and Post Corona [2020 to 2023] by extrapolating the current shift during lockdown and
                 expected recovery & changes post corona, analysing different factors which affect this trend and
                 ultimate reflection and impact of this on our lives.</p>
            </div>

            <div class="work-experience">
              <small class="date">July 2019-September 2019</small>
              <h3 class="h5 date-title">Business Analyst Intern - <a href="https://www.brainsfeed.com/" title="">Brainsfeed</a></h3>
              
              <p>
                <ul>
                  <li>Suggestions making for improvements</li> 
                  <li>Market research</li>
                  <li>Report writing</li>
                  <li>Data analysis</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Education</u></h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2021</small>
                  <h3 class="h5 date-title">B.E. Electronics & Communication</h3>
                  <p>Dayananda Sagar Institutions, Bangalore</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2015-2017</small>
                  <h3 class="h5 date-title">AISSCE</h3>
                  <p>St. Michael's Convent School, I.T.I. Mankapur</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2013-2015</small>
                  <h3 class="h5 date-title">AISSE</h3>
                  <p>St. Michael's Convent School, I.T.I. Mankapur</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Licenses & Certifications</u></h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">August 2018-September 2018</small>
                  <h3 class="h5 date-title">Programming with Python</h3>
                  <p>Internshala Trainings</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">September 2018-October 2018</small>
                  <h3 class="h5 date-title">Python for Data Science and Machine Learning Bootcamp</h3>
                  <p>Udemy</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">May 2020-June 2020</small>
                  <h3 class="h5 date-title">The Complete SQL Bootcamp</h3>
                  <p>Udemy</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Skills</u></h2>
            <div class="row">
              <div class="col-md-3">
                <h3 class="h5">Programming Languages</h3>
                <p>
                  <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>C++</li>
                    <li>C</li>
                    <li>Matlab</li>
                    <li>HTML</li>
                    <li>CSS</li>
                  </ul>
                </p>
              </div>
              <div class="col-md-3">
                <h3 class="h5">Top Skills</h3>
                <p>
                  <ul>
                    <li>Data Analytics</li>
                    <li>Machine Learning</li>
                    <li>Web Scraping</li>
                  </ul>
                </p>
              </div>
              <div class="col-md-3">
                <h3 class="h5">Tools & Technologies</h3>
                <ul>
                  <li>PostgreSQL</li>
                  <li>Microsoft SQL Server</li>
                  <li>Tableau</li>
                  <li>SQL Server Integration Services(SSIS)</li>
                  <li>Microsoft Visual Studio</li>
                  <li>MongoDB</li>
                  <li>Git</li>
                  <li>Google Cloud Platform(GCP)</li>
                  <li>MS Office</li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="h5">Core Competencies</h3>
                <p>
                  <ul>
                    <li>Teamwork</li>
                    <li>Public Speaking</li>
                    <li>Self motivated</li>
                    <li>Networking skills</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Projects</u></h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/covid1.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h2 class="h5 date-title"><a href="https://github.com/aniketpandey23/covid19infectiondetector" title="Go to Github repository">COVID-19 Infection Predictor</a></h2>
                  <p>March 2020-April 2020</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/diabetes1.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h2 class="h5 date-title"><a href="https://github.com/aniketpandey23/Diabetes-Predictor" title="Go to Github repository">Diabetes Predictor</a></h2>
                  <p>April 2020</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/scrape.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">HackerNews Web Scraper</h3>
                  <p>January 2020</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/startup.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h2 class="h5 date-title"><a href="https://github.com/aniketpandey23/StartupProfitCalculator" title="Go to Github repository">Start-up Profit Calculator</a></h2>
                  <p>December 2019</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/email.jpg" class="img-responsive" alt="....">
                <div class="carousel-caption">
                  <h3 class="h5">Automatic email generator on discount</h3>
                  <p>November 2019</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/chatbot.jpg" class="img-responsive" alt="....">
                <div class="carousel-caption">
                  <h3 class="h5">Voice Enabled Desktop Assistant</h3>
                  <p>February 2019</p>
                </div>
              </div>
            </div>


            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

          </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2><u>Languages</u></h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Full professional proficiency</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Hindi  <small>Native</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div><br>
        <div class="text-center">
          <p>Reach me via</p>
          <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/people/Aniket-Pandey/100016550885005" title="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://linkedin.com/in/aniket-pandey-53ab90166/" title="Linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="mailto:pandey.aniket.2310@gmail.com" title="Gmail">
          <i class="fa fa-envelope"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/aniketpandey23" title="Github">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.twitter.com/me__aniket?s=09" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://instagram.com/me__aniket/" title="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </p>
        </div>

        
       
     </div>
   </div>
 </div>

</main>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>